<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs65_final_project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CS65_Final_Project">
        <activity android:name=".activities.SearchAddIngredientActivity"></activity>
        <activity android:name=".activities.RecipeViewActivity" />
        <activity android:name=".activities.ManualAddIngredientActivity" />
        <activity android:name=".activities.AllergiesActivity">
            <intent-filter>
                <action android:name="my_action.startAllergiesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ProfileActivity">
            <intent-filter>
                <action android:name="my_action.startProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.CreateAccountActivity" />
        <activity android:name=".activities.HomeActivity" />
    </application>

</manifest>